.rojo {
  color: red;
}
label {
  margin-left: 75px;
}
input {
  margin-left: 10px;
}
h3 {
  margin-left: 75px;
}
h2 {
  margin-left: 75px;
}
button {
  margin-left: 75px;
}
table {
  margin-left: 75px;
}
