<!--Muestro la barra de menú-->
<menu></menu>
<!--Creo una lista y varios textos sencillos-->
<div>
    <h2>Contacto</h2>
    <p>¡Puedes contactarnos por LinkedIn!</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/salvadorestorch/">Salvador</a></li>
    </ul>
    <ul>
        <li><a href="https://www.linkedin.com/in/franco-paolo-pellizzari-oliva-3730b5175/">Franco</a></li>
    </ul>
    <ul>
        <li><a href="https://www.linkedin.com/in/jairo-porras-candonga-926350107/">Jairo</a></li>
    </ul>
</div>