<menu></menu>
<table>
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Título</th>
            <th>Valoracion</th>
        </tr>
    </thead>
    <tbody>
        <!-- 
            Recorremos la lista, y si hacemos clic en el botón detalle se ejecuta el 
            método qeu veremos a continuación. A dicho método le pasamos por parametros
            el id del videojugo que queremos ver más en detalle
        -->
        <tr *ngFor="let v of listaVideojuegos">
            <td>{{ v.id }}</td>
            <td>{{ v.titulo }}</td>
            <td>{{ v.valoracion }}</td>
            <button (click)="routingProgramatico(v.id)">Detalle</button>
        </tr>
    </tbody>
</table>